<div class="jumbotron">
  <h2>BucketMQ</h2>
  <p class="lead">A productive integration engine.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="docs">Docs</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <h4>Help</h4>
    <ul>
      <li>
        <a href="https://github.com/sonerdy/bucketmq">Github</a>
      </li>
    </ul>
  </div>
</div>
